* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #ffffff;

  font-size: 6.25%;
}

body {
  /* background: #e5e5e5; */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", "sans-serif";
}

.hide {
  display: none;
}
.play svg path,
.pause svg path,
.sound-on svg path,
.sound-off svg path,
.set svg path {
  fill: var(--primary-color);
}
#timer {
  font-size: 88rem;
  display: flex;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
}
