* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;
  --fs-heading: 40rem;
  --ff-heading: 'Staatliches';
  --ff-text: 'Palanquin', sans-serif;
  --fs-text: 20rem;
  --fs-heading-sm: 20rem;

}



h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

p {
  font-size: var(--fs-text);
  color: #23053A;
}

h2 {
  font-size: var(--fs-heading-sm);
  font-family: var(--ff-heading);
  font-style: normal;
  font-weight: 400;
  line-height: 34rem;
  letter-spacing: 0.8rem;

  text-align: center;

  color: #4A4E69;
}

body {
  background: #E5E5E5;
}

.page {
  width: 384rem;
  height: 2000rem;
  margin: 50rem auto;


  display: flex;
  flex-direction: column;

  background: #EFF1FF;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

header img:nth-child(2) {
  position: absolute;
  top: 32rem;
}

header img:nth-child(3) {
  position: absolute;
  bottom: 29rem;

}

header h1 {
  font-style: normal;
  font-weight: 400;
  line-height: 34rem;
  letter-spacing: 0.8rem;

  color: #FFFFFF;

  text-shadow: 0 2rem 2rem;

  position: absolute;
  bottom: 36rem;

}

main p {
  margin: 14rem 40rem 64rem;

  font-family: var(--ff-text);
  font-size: var(--fs-text);
  font-style: normal;
  font-weight: 400;
  line-height: 20rem;

  display: flex;
  align-items: center;
  text-align: center;

  color: #23053A;
}

main .cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36rem;
 
}

.card {
  position: relative;

  animation: downtop 700ms backwards 350ms;
}

main .cardsWrapper .card img {
  transition: all 180ms;
}

main .cardsWrapper .card img:hover {
  transform: scale(1.1);
}



main .cardsWrapper .card .type {
  background: #FEEAFA;
  width: 110rem;
  height: 35rem;
  border-radius: 20rem;

  position: absolute;
  top: 20rem;
  right: 20rem;

  animation: topdown 700ms backwards 700ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-35rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(150rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media(min-width:1280px) {
  .page {
    width: 1280rem;
    height: 720rem;
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    gap: 50px;
    border: 1px solid red;

  }

  main .cardsWrapper {
    display: grid;
    
    border: 1px solid blue;
  }


  header {
    min-width: 377rem;
    min-height: 720rem;
    border: 1px solid blue;

    background-color: #8E9AAF;

    display: flex;
    position: relative;

  }

  header img:nth-child(1) {
    display: none;


  }

  header img:nth-child(2) {
    position: absolute;
    top: 32rem;

  }

  header img:nth-child(3) {
    display: none;
  }


  header h1 {
    margin-top: 10px;

    width: 377px;
    height: 70px;
    background: #CBC0D3;
    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    top: 200rem;
  }

  main p {
    display: none;
  }


  /* main .cardsWrapper .card img {} */

  main .cardsWrapper {
    grid-template-areas: "A B C"
      "D E F";

  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: A;
    
  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: A;
    
  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: B;

  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: C;

  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: D;

  }

  main .cardsWrapper div:nth-child(1) {
    grid-area: E;

  }

  main .cardsWrapper div:nth-child(6) {
    grid-area: F;

  }

}