body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 65px auto 0 auto;

}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;

}

nav {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 48px;
}

ul li a {
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1
  
}

h1 ul {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
  width: 490px;

  font-weight: normal;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px 15px;
  gap: 10px;

  background: #69B99D;
  border-radius: 4px;


  cursor: pointer;
}

button:hover{
  background: #4ea788;
}


footer {
  font-size: 14px;
  line-height: 28px;
  margin-top: 80px;

  text-align: center;
}

footer a{
  font-weight: bold;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section p{
  margin: 40px 0;
 
}