* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #ffffff;

  font-size: 6.25%;
}

body {
  /* background: #e5e5e5; */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", "sans-serif";
  display: grid;
  min-height: 100vh;
}

main {
  justify-self: center;
  align-self: end;
}

.hide {
  display: none;
}
.play svg path,
.pause svg path{
  fill: var(--primary-color);
}

.sound-off svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(32rem, 20rem + 12vw, 64rem);
}

#timer {
  font-size: clamp(40rem, 40rem + 10vw, 88rem);
  display: flex;

  margin-bottom: 16rem;
}

button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32rem;

  border-radius: 9999px;

  width: clamp(100rem, 100rem + 30vw, 220rem);
  height: clamp(80rem, 50rem + 10vh, 108rem);
}

footer {
  justify-self: end;
  align-self: end;

  padding: 0 40rem 32rem 0;
}
